<section id="sobre-nosotros" class="flex w-full mt-4 bg-primaryBg h-[700px]" data-aos="fade-up" data-aos-duration="1000">
    <div class="flex flex-col items-center justify-center px-10 py-8 font-medium text-center basis-1/2" data-aos="fade-right" data-aos-duration="1000">
        <strong class="mb-5 text-3xl text-center text-secondary">¿Quiénes somos?</strong>

            <p class="mb-4 text-xl text-justify text-white">
                Empresa orgullosamente mexicana dedicada a la publicidad
                y la construcción de establecimientos comerciales dentro
                y fuera de su sede matriz (Querétaro).</p>
             <p class="text-xl text-justify text-white">
                Establecida a principios de 2011, tenemos el objetivo de posicionarnos como una de las empresas líderes a nivel nacional en la industria de la publicidad y la construcción.
             </p>
             <strong class="mt-4 text-3xl text-secondary">Nuestros clientes:</strong>
             <ul class="text-xl text-left text-white list-disc list-inside">
                <li>Grupo Modelo</li>
                <li>Pedigree</li>
                <li>Whiskas</li>
                <li>Asturiano</li>
             </ul>
    </div>
    <div class="flex flex-col items-center justify-center ml-20" data-aos="fade-left" data-aos-duration="1000">
        <img class="py-4 mr-6 w-180 h-130" src="/Images/QuienesSomos/Alcance.jpg">
        <p class="text-lg text-white">En estos estados hemos realizado trabajos tanto de obra civil e imagen publicitaria con nuestros diversos clientes.</p>
    </div>
</section>