---
import '../styles/global.css';
import Header from "../components/Header.astro";
import Hero from '../components/Hero.astro';
import QuienesSomos from '../components/QuienesSomos.astro';
import Servicios from '../components/Servicios/Servicios.astro';
import SeccionProyectos from '../components/Proyectos/SeccionProyectos.astro';
import Contacto from '../components/Contacto.astro';

---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
		<meta name="generator" content={Astro.generator} />
		<title>Ideco</title>
	</head>
	<body>
		<Header />
		<Hero />
		<QuienesSomos />
		<Servicios />
		<SeccionProyectos />
		<Contacto />
		<slot />
		<script>
      		import AOS from "aos";
      		AOS.init();
   	 	</script>
		<script>
 		 	window.onbeforeunload = function () {
    		window.scrollTo(0, 0);
			};
		</script>

	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		min-height: 100%;
	}
</style>
